<ng-template [ngIf]="!template">
  <span *ngIf="node.hasChildren"
        class="toggle-children-wrapper"
        [class.toggle-children-expanded]="node.isExpanded"
        [class.toggle-children-collapsed]="node.isCollapsed"
        (click)="node.mouseAction('expanderClick', $event)">
    <span class="toggle-children"></span>
  </span>

  <span *ngIf="!node.hasChildren"
        class="toggle-children-placeholder"></span>
</ng-template>

<ng-container [ngTemplateOutlet]="template"
              [ngTemplateOutletContext]="{
                $implicit: null,
                node: node,
                index: index,
                options: options
              }">
</ng-container>
