<ng-template [ngIf]="!templates.treeNodeWrapperTemplate">
  <ngx-tree-node-expander [node]="node"
                          [index]="index"
                          [options]="options"
                          [template]="templates.expanderTemplate"></ngx-tree-node-expander>

  <ngx-tree-node-content [node]="node"
                         [index]="index"
                         [options]="options"
                         [template]="templates.treeNodeTemplate">
  </ngx-tree-node-content>
</ng-template>

<ng-container [ngTemplateOutlet]="templates.treeNodeWrapperTemplate"
              [ngOutletContext]="{ $implicit: node, node: node, index: index, options: options, templates: templates }">
</ng-container>
